/* Default light mode styles */
body {
  background-color: white;
  color: black;
}

.navbar {
  background-color: #f8f9fa;
}

footer {
  background-color: #f8f9fa;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: white;
}

.navbar.dark-mode {
  background-color: #333;
}

footer.dark-mode {
  background-color: #333;
}
